<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Super User" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <title>Correnteza</title>

    <link rel="stylesheet" href="css/rokbox.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400" type="text/css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light:400" type="text/css" />
    <link rel="stylesheet" href="css/mobile-menu.css" type="text/css" />
    <link rel="stylesheet" href="css/uikit.almost-flat.css" type="text/css" />
    <link rel="stylesheet" href="css/glass.css" type="text/css" />
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css" type="text/css" />
    <link rel="stylesheet" href="css/helper.css" type="text/css" />
    <link rel="stylesheet" href="css/template.css" type="text/css" />
    <link rel="stylesheet" href="css/preset1.css" type="text/css" />
    <link rel="stylesheet" href="css/mod_news_show_sp2.css" type="text/css" />
    <link rel="stylesheet" href="css/strips.css" type="text/css" />
    <link rel="stylesheet" href="css/parallax.css" type="text/css" />
    <link rel="stylesheet" href="css/mod_sp_portfolio_default.css" type="text/css" />
    <link rel="stylesheet" href="css/slimbox2.css" type="text/css" />
    <link rel="stylesheet" href="css/settings.css" type="text/css" />
    <link rel="stylesheet" href="css/getcaptions.css" type="text/css" />
    <link rel="stylesheet" href="css/static-captions.css" type="text/css" />

    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menu.js" type="text/javascript"></script>
    <script src="js/rokbox.js" type="text/javascript"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-79212543-1', 'auto');
      ga('send', 'pageview');

    </script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="article homepage  ltr preset1 menu-home responsive bg hfeed clearfix">
    <form id="masterForm">
        <div class="body-innerwrapper">
            <!--[if lt IE 8]>
            <div class="chromeframe alert alert-danger" style="text-align:center">You are using an <strong>outdated</strong> browser. Please <a target="_blank" href="http://browsehappy.com/">upgrade your browser</a> or <a target="_blank" href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</div>
            <![endif]-->
            <section id="sp-toolbar-wrapper" class="hidden-phone">
                <div class="container">
                    <div class="row-fluid" id="toolbar">
                        <div id="sp-toolbar-l" class="span6">
                            <div class="module ">
                                <div class="mod-wrapper clearfix">
                                    <div class="mod-content clearfix">
                                        <div class="mod-inner clearfix">


                                            <div class="custom"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gap"></div>
                        </div>

                        <div id="sp-toolbar-r" class="span6">
                            <div class="module ">
                                <div class="mod-wrapper clearfix">
                                    <div class="mod-content clearfix">
                                        <div class="mod-inner clearfix">
                                            <div class="custom">
                                                Já é cadastrado? Faça o <a href="#">login</a> ou <a href="#">cadastre-se</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gap"></div>
                            </div>
                        </div>
                    </div>
            </section>
            <header id="sp-header-wrapper" class="">
                <div class="container">
                    <div class="row-fluid" id="header">
                        <div id="sp-logo" class="span3"><div class="logo-wrapper"><a href="Home.aspx"><div style="width:242px; height:55px;" class="logo"></div></a></div></div>
                        <div id="sp-menu" class="span9">
                            <div id="sp-main-menu" class="visible-desktop">
                                <ul class="sp-menu level-0">
                                    <li class="menu-item first parent " id="liHome">
                                        <a href="Home.aspx" class="menu-item active first parent ">
                                            <span class="menu">
                                                <span class="menu-title">Home</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item parent " id="liReel">
                                        <a href="#" class="menu-item active first parent ">
                                            <span class="menu">
                                                <span class="menu-title">Projetos</span>
                                            </span>
                                        </a>
                                    </li>
                                    <li class="menu-item parent " id="liContato">
                                        <a href="Contato.aspx" class="menu-item active first parent ">
                                            <span class="menu">
                                                <span class="menu-title"></span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            @RenderBody()
            
        <a class="hidden-desktop btn btn-inverse sp-main-menu-toggler" href="#" data-toggle="collapse" data-target=".nav-collapse">
            <i class="fa fa-align-justify"></i>
        </a>

        <div class="hidden-desktop sp-mobile-menu nav-collapse collapse">
            <ul class="">
                <li class="menu-item active first parent">
                    <a href="Home.aspx" class="menu-item active first parent">
                        <span class="menu">
                            <span class="menu-title">Home</span>
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="">
                <li class="menu-item active first parent">
                    <a href="Reel.aspx" class="menu-item active first parent">
                        <span class="menu">
                            <span class="menu-title">Reel</span>
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="">
                <li class="menu-item active first parent">
                    <a href="Contato.aspx" class="menu-item active first parent">
                        <span class="menu">
                            <span class="menu-title">Contato</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        </div>
    </form>
</body>
</html>
