@font-face {
	font-family: 'AlexBrushRegular';
	src: url('../../fonts/AlexBrushRegular.eot');
	src: local('AlexBrushRegular'), url('../../fonts/AlexBrushRegular.woff') format('woff'), url('../../fonts/AlexBrushRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_12934">Text with this font applied</p> */
.fontsforweb_fontid_12934 {
	font-family: 'AlexBrushRegular' !important;
}

/* Font downloaded from FontsForWeb.com */